{#formulario para cada categoria#}
{{ form_start(form, {'attr': {novalidate: 'novalidate', 'class':'custom'}}) }}
	{% form_theme form 'HotelRoomBundle:Form:fields.html.twig' %}
	<div class="row">
		
		<div class="small-12 medium-4 columns">
			<div class="row">
				<div class="small-8 small-centered columns">
					{{ form_row(form.entrydate) }}
				</div>
			</div>
			<div class="row">
				<div class="small-8 small-centered columns">
					{{ form_row(form.exitdate) }}
				</div>
			</div>
		</div>
		<div class="small-12 medium-4 columns">
			<div class="row">
				<div class="small-6 small-centered columns">
					{{ form_row(form.roomtype) }}
				</div>
			</div>
			<div class="row">
				<div class="small-6 small-centered columns">
					{{ form_row(form.childbed) }}
				</div>
			</div>
		</div>
		
		<div class="small-12 medium-4 columns">

			<div class="small-12 columns">&nbsp;</div>
			<div class="small-12 columns">&nbsp;</div>


			<div class="row">
				<div class="small-8 medium-8 columns">
					{{ form_row(form.available) }}
				</div>
				<div class="small-4 medium-4 columns">
					{% if availableCount is not defined %}
						<a class="secondary small button" disabled>---</a>
	                {% else %}
	                	<a class="secondary small button" disabled>{{ availableCount }}</a>
	                {% endif %}
				</div>
			</div>
			
			<div class="small-12 columns">&nbsp;</div>

			<div align="center">
				{% if user is defined %}
					{{ form_row(form.submit) }}
				{% else %}
					<h5 align="center">Ingresa a tu cuenta para reservar</h5>
				{% endif %}
			</div>
		</div> 
	</div>

{{ form_rest(form) }}
{{ form_end(form) }}
