{% extends 'HotelMainBundle:Main:layout.html.twig' %}

{% block body -%}
<div class="cover-div"
    style="background-image:url({{ asset('bundles/img/login.jpg') }});">
</div>

{{ include('HotelUserBundle:User:user-topbar.html.twig') }}

<div class="title-div">
    <h1>Lista de Reservas</h1>
</div>

<div align="center">
    <table class="records_list">
        <thead>
            <tr>
                <th>Reserva</th>
                <th>Usuario</th>
                <th>Tipo</th>
                <th>Categoria</th>
                <th>Fecha entrada</th>
                <th>Fecha salida</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td align="center"><a href="{{ path('reserve_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td align="center"><a href="{{ path('user_show', { 'id': entity.user.id }) }}">{{ entity.user.id }}</a></td>

                <td>
                    {% if entity.roomtype == "individual" %}
                        Individual
                    {% else %}
                        Doble
                    {% endif %}
                </td>

                <td>
                    {% if entity.roomcategory == "standard" %}
                        Estandar
                    {% elseif entity.roomcategory == "bussiness" %}
                        Bussiness
                    {% else %}
                        Alta
                    {% endif %}
                </td>
                <td>{% if entity.entrydate %}{{ entity.entrydate|date('Y-m-d') }}{% endif %}</td>
                <td>{% if entity.exitdate %}{{ entity.exitdate|date('Y-m-d') }}{% endif %}</td>

                <td>
                    {% if entity.restatus == "active" %}
                        Activa
                    {% elseif entity.restatus == "occupied" %}
                        Ocupada
                    {% elseif entity.restatus =="canceled" %}
                        Cancelada
                    {% else %}
                        Completa
                    {% endif %}
                </td>
                {#<td>
                <ul>
                    <li>
                        <a href="{{ path('reserve_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('reserve_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

<div align="center">        
    <a class="button" href="{{ path('reserve_new_admin') }}">
        Crear nueva reserva
    </a>
</div>
    {% endblock %}
