{% extends 'HotelMainBundle:Main:layout.html.twig' %}

{% block body -%}
<div class="cover-div"
    style="background-image:url({{ asset('bundles/img/login.jpg') }});">
</div>

{{ include('HotelUserBundle:User:user-topbar.html.twig') }}

<div class="title-div">
    <h1>Lista de Reservas</h1>
</div>

<div align="center">

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Id usuario</th>
                <th>Id habitacion</th>
                <th>Cama infantil</th>
                <th>Fecha de entrada</th>
                <th>Fecha de salida</th>
                <th>Categoria</th>
                <th>Tipo</th>
                <th>Estado</th>
                <th>Especial</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('reserve_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td><a href="{{ path('user_show', { 'id': entity.user.id }) }}">{{ entity.user.id }}</a></td>

                {% if entity.room is null %}
                    <td></td>
                {% else %}
                    <td><a href="{{ path('room_show', { 'id': entity.room.id }) }}">{{ entity.room.id }}</a></td>
                {% endif %}

                <td>{{ entity.childbed }}</td>
                <td>{% if entity.entrydate %}{{ entity.entrydate|date('Y-m-d') }}{% endif %}</td>
                <td>{% if entity.exitdate %}{{ entity.exitdate|date('Y-m-d') }}{% endif %}</td>
                <td>{{ entity.roomcategory }}</td>
                <td>{{ entity.roomtype }}</td>
                <td>{{ entity.restatus }}</td>
                <td>{{ entity.special }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('reserve_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('reserve_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

        <ul>
        <li>
            <a href="{{ path('reserve_admin_new') }}">
                Crear nueva reserva
            </a>
        </li>
    </ul>
    {% endblock %}
