{% extends 'HotelMainBundle:Main:layout.html.twig' %}

{% block body -%}

<div class="cover-div"
    style="background-image:url({{ asset('bundles/img/reservations.jpg') }});">
</div>

{{ include('HotelUserBundle:User:'~prefix~'-topbar.html.twig') }}

{#titulo#}
<div class="title-div">
	<h1>Reservaciones</h1>
</div>

<div class="row">
	<div class="small-12 medium-4 columns">
		<ul class="pricing-table">
			<li class="title">Estandar</li>
			<li><img src="{{ asset('bundles/img/standard-small.jpg') }}"/></li>
			<li class="description">Tu humilde morada.</li>
			<li class="bullet-item">50 metros cuadrados.</li>
			<li class="bullet-item">2 sofás individuales y un escritorio.</li>
			<li class="bullet-item">Botellas de agua mineral por cortesia de la casa.</li>
			<li class="price">$9.99</li>
			<li class="cta-button">
				<a class="button" href="{{ path('reserve_new', { 'category': 'standard' }) }}">Reservar</a>
			</li>
		</ul>
	</div>
	<div class="small-12 medium-4 columns">
		<ul class="pricing-table">
			<li class="title" style="background-color: #B2B2B2; color: black;">Bussiness</li>
			<li><img src="{{ asset('bundles/img/bussiness-small.jpg') }}"/></li>
			<li class="description">Los negocios nunca fueron tan comodos.</li>
			<li class="bullet-item">Dormitorio y área de estar independientes.</li>
			<li class="bullet-item">Elegante decoración.</li>
			<li class="bullet-item">Minibar surtido.</li>
			<li class="price">$19.99</li>
			<li class="cta-button">
				<a class="button" href="{{ path('reserve_new', { 'category': 'bussiness' }) }}">Reservar</a>
			</li>
		</ul>
	</div>
	<div class="small-12 medium-4 columns">
		<ul class="pricing-table">
			<li class="title" style="background-color: #FFD633; color: black;">Alta</li>
			<li><img src="{{ asset('bundles/img/high-small.jpg') }}"/></li>
			<li class="description">Para los merecedores de lo mejor.</li>
			<li class="bullet-item">1 área de estar elegantemente decorada.</li>
			<li class="bullet-item">2 dormitorios independientes.</li>
			<li class="bullet-item">Minibar surtido, lujoso baño y caja fuerte.</li>
			<li class="price">$39.99</li>
			<li class="cta-button">
				<a class="button" href="{{ path('reserve_new', { 'category': 'high' }) }}">Reservar</a>
			</li>
		</ul>
	</div>
</div>

{% endblock %}