
{% extends 'HotelMainBundle:Main:layout.html.twig' %}

{% block body -%}
<div class="cover-div"
    style="background-image:url({{ asset('bundles/img/reservations.jpg') }});">
</div>

{#{ include('HotelUserBundle:User:user-topbar.html.twig') }#}
{{ include('HotelUserBundle:User:'~prefix~'-topbar.html.twig') }}

	{#titulo#}
	<div class="title-div">
		<h1>Reservaciones</h1>
	</div>
	{#reserva de habitaciones por categoria#}
	{% set rooms = [ "Estandar" , "Business" , "Alta" ] %}
	{% set rooms_cat = ["standard", "bussiness", "high"] %}
	{% set backgrounds = [ "#FFFFFF", "#DCDCDC", "#FFFF99"] %}

	<p align="center">
		{% for i in 0..2 %}
			<a data-orbit-link="{{rooms_cat[i]}}" class="small button">
		  		Categoria {{rooms[i]}}
			</a>
		{% endfor %}
	</p>

	<div class="small-11 small-centered columns">
		<ul data-orbit data-options="animation:'fade'; navigation_arrows: false;  slide_number: false; bullets: false; timer: false; stack_on_small: false;">

		{% for i in 0..2 %}
			<li data-orbit-slide="{{rooms_cat[i]}}" style="background-color:{{backgrounds[i]}}">
		    <div>
		    	<div class="row">
		    		<div class="small-6 columns">
		    			<h2 align="center">Habitacion {{rooms[i]}}</h2>
		    		</div>
		    		<div class="small-6 columns">
		    			<h2 align="center">Caracteristicas</h2>
		    		</div>
		    	</div>
		    	<div class="row">
		      		<div class="small-6 columns">
		      			<a class="th" href="{{ asset('bundles/img/'~rooms_cat[i]~'.jpg') }}">
							<img src="{{ asset('bundles/img/'~rooms_cat[i]~'.jpg') }}"/>
						</a>
					</div>
					<div class="small-6 columns">
						<h4 class="subheader">(Posible icono) Descripcion</h4>
						<h4 class="subheader">(Posible icono) Descripcion</h4>
						<h4 class="subheader">(Posible icono) Descripcion</h4>
						<h4 class="subheader">(Posible icono) Descripcion</h4>
					</div>
				</div>
				<div class="row">
					<div class="small-4 columns">
						<h3 align="center">Cuando la quieres?</h3>
					</div>
					<div class="small-4 columns">
						<h3 align="center">Como la quieres?</h3>
					</div>
					<div class="small-4 columns">
						<h3 align="center">En serio la quieres?</h3>
					</div>		
				</div>
				{#formulario de disponibilidad y reserva#}
				<div id="res-div">
					{{ render(controller('HotelRoomBundle:Reserve:reserve', {'category':rooms_cat[i]})) }}

				</div>
		    </div>
		  </li>
		{% endfor %}
		</ul>
	</div>
{% endblock %}