{{ form_start(form, {'attr': {novalidate: 'novalidate'}}) }}
	{% form_theme form 'HotelRoomBundle:Form:fields.html.twig' %}
	<div class="row">
		 <div class="small-3  small-centered columns ">
		
			{{ form_row(form.roomtype) }}
			{{ form_row(form.roomcategory) }}

			<div class="row">
				<div class="small-4 columns">
					{{ form_row(form.tv) }}
				</div>
				<div class="small-4 columns">
					{{ form_row(form.shower) }}
				</div>
				<div class="small-4 columns">
					{{ form_row(form.music) }}
				</div>
			</div>

			<div class="row">
				<div class="small-4 columns">
					{{ form_row(form.jacuzzi) }}
				</div>
				<div class="small-4 columns">
					{{ form_row(form.massage) }}
				</div>
			</div>			
			{{ form_row(form.roomstatus) }}
		</div>
	</div>

	<div align="center">
		{{ form_row(form.submit) }}
	</div>

	{{ form_rest(form) }}
	{{ form_end(form) }}
