<div class="hr" style="margin-top:5%;"><hr/></div>
<div class="row">
	<div class="small-12 medium-4 columns">
		<h3 align="center">Contactanos</h3>
		
	</div>
	<div class="small-12 medium-4 columns">
		<h3 align="center">
			Links
		</h3>
		<br><br>
		<div class="small-12 medium-6 medium-centered columns">
		<a href="{{ path('main_welcome') }}">Inicio</a><br><br>
		<a href="{{ path('user_new') }}">Registro</a><br><br>
		<a href="{{ path('user_login') }}">Login</a><br><br>
		<a href="{{ path('reserve_user') }}">Reservaciones</a><br><br>
		<a href="{{ path('main_team') }}">Equipo</a><br><br>
		</div>
	</div>
	<div class="small-12 medium-4 columns">
		<h3 align="center">Socializa con nosotros</h3>
		<br/>
		<div align="center">
			<br/><br/>
			<a href="https://twitter.com/hotelSymfonia" class="twitter-follow-button" data-show-count="false" data-lang="es" data-size="large">Seguir a @hotelSymfonia</a>
			<br/><br/>
			<a href="https://twitter.com/intent/tweet?button_hashtag=HotelSymfonia&text=El%20mejor%20hotel%20de%20valencia." class="twitter-hashtag-button" data-lang="es" data-size="large" data-related="hotelSymfonia">Tweet #HotelSymfonia</a>
		</div>
	</div>
</div>
{#footer#}
<footer>
	<div id="footer-div">
		<div class="row">
			<div class="small-6 medium-6 columns">
				<h3 style="text-align: left; color:#D6D6D6;">Hotel Symfonia</h3>
				<p style="color:#999999; font-size:14px; margin:0%;">Creado por Gabriel Nunez y Roynny Zambrano.</p>
			</div>
		</div>
	</div>
</footer>