{#formulario para contactar#}
<form method="post" action="{{ path('contactattempt') }}" id="contact-form">
	{% form_theme form 'GZMainBundle:Form:fields.html.twig' %}
	<div class="row">
		<div class="small-4 small-push-2 columns">
			{{ form_row(form.firstname) }}
			{{ form_row(form.lastname) }}
		</div>
		<div class="small-4 small-pull-2 columns">
			{{ form_row(form.email) }}
			{{ form_row(form.message) }}
		</div>
	</div>
	<div class="row">
		<div class="small-2 small-centered columns">
			<a class="button" id="contact-send-button">Enviar</a>
		</div>
	</div>
	{{ form_rest(form) }}
</form>	