{#formulario para contactar#}
{{ form_start(form, {'attr': {novalidate: 'novalidate'}}) }}
	{% form_theme form 'HotelMainBundle:Form:fields.html.twig' %}
	<div class="row">
		<div class="small-12 columns">
			{{ form_row(form.email) }}
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			{{ form_row(form.message) }}
		</div>
	</div>
	<div align="center">
		{{ form_row(form.submit) }}
	</div>
	{{ form_rest(form) }}
{{ form_end(form) }}