{% extends 'HotelMainBundle:Main:layout.html.twig' %}

{% block body -%}

<div class="cover-div" style="background-image:url({{ asset('bundles/img/login.jpg') }});">
</div>

{{ include('HotelUserBundle:User:user-topbar.html.twig') }}

<div class="title-div">
    <h1>Lista de Contactos</h1>
</div>

<div class="row">
    <div class="small-12 medium-6 medium-centered columns">
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Correo electronico</th>
                    <th>Mensaje</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('contact_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.email }}</td>
                    <td>{{ entity.message }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
