{% extends 'HotelMainBundle:Main:layout.html.twig' %}

{% block body -%}
<div class="cover-div"
    style="background-image:url({{ asset('bundles/img/login.jpg') }});">
</div>

{{ include('HotelUserBundle:User:user-topbar.html.twig') }}

<div class="title-div">
    <h1>Lista de Facturas</h1>
</div>

<div align="center">
    <table class="records_list">
        <thead>
            <tr>
                <th>Factura </th>
                    {% if user.role == 'admin' %}
                        <th>Usuario</th>
                    {%  endif %}
                <th>Fecha emision</th>
                <th>Estatus reserva</th>
                <th>Monto alojamiento</th>
                <th>Monto consumos</th>
                <th>Monto total</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entity_bill %}
            <tr>
                <td align="center"><a href="{{ path('bill_show', { 'bill_id': entity.id, 'user_id': entity.user.id }) }}">{{ entity.id }}</a></td>
                {% if user.role == 'admin' %}
                    <td align="center"><a href="{{ path('user_show', { 'id': entity.user.id }) }}">{{ entity.user.id }}</a></td>
                {%  endif %}

                <td>
                    {{ entity.Issuedate |date('d-m-Y') }}
                </td>
                <td>

                    {% if entity.TypeBill == "complete" %}
                        Completada
                    {% else %}
                        Cancelada
                    {% endif %}

                </td>
                <td>
                    Bfs. {{ entity.HousingCost }}
                </td>
                <td>
                    Bfs. {{ entity.ItemsCost }}
                </td>
                <td>
                    Bfs. {{ entity.TotalCost }}
                </td>                

            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}





{#

{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Bill list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Issuedate</th>
                <th>Billstatus</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('bill_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.issuedate %}{{ entity.issuedate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.billstatus }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('bill_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('bill_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('bill_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}

#}