{#formulario para hacer registro#}
<form method="post" action="{{ path('registerattempt') }}" id="reg-form">
	{% form_theme form 'GZMainBundle:Form:fields.html.twig' %}
	<div class="row">
		<div class="small-4 small-push-2 columns">
			{{ form_row(form.email) }}
			{{ form_row(form.pass.first) }}
			{{ form_row(form.pass.second) }}
			{{ form_row(form.firstname) }}
			{{ form_row(form.lastname) }}
			{{ form_row(form.lastname) }}
			{{ form_row(form.birthdate) }}
		</div>
		<div class="small-4 small-pull-2 columns">
			{{ form_row(form.idcard) }}
			{{ form_row(form.rif) }}
			<div class="row">
				<div class="small-6 columns">
					{{ form_row(form.gender) }}
				</div>
				<div class="small-6 columns">
					{{ form_row(form.nationality) }}
				</div>
			</div>
			{{ form_row(form.creditcard) }}
			<div class="row">
				<div class="small-6 columns">
					{{ form_row(form.account) }}
				</div>
			</div>
				
		</div>
	</div>
	{{ form_rest(form) }}
	<div class="row">
		<div class="small-2 small-centered columns">
			<a class="button" id="reg-send-button">Enviar</a>
		</div>
	</div>
</form>
