



					<form class="custom" method="post" action="{{ path('contact') }}" id="contact_form">
						{{ form_start(form) }}
						
						<div class="row" style="margin:0px 0px 0px 100px;">
							<div class="large-12 columns">
							<h2>Contactanos Hoy!</h2>
							</div>
						</div>



						<div class="row" style="margin:0px 0px 0px 30px;">
							<div class="large-3  push-2 columns">

								<div>
								<h5>	{{ form_label(form.firstname) }} </h5>
									{{ form_widget(form.firstname) }} 
									{{ form_errors(form.firstname) }}
								</div>
							</div>

							<div class="large-3  pull-4 columns">
								<div>
								<h5>	{{ form_label(form.lastname) }} </h5>
									{{ form_widget(form.lastname) }}
									{{ form_errors(form.lastname) }}
								</div>
							</div>	

						</div>

						<div class="row" style="margin:0px 0px 0px 30px;">
							<div class="large-6 push-2 columns">
								<div>
								<h5>	{{ form_label(form.email) }} </h5>
									{{ form_widget(form.email) }}
									{{ form_errors(form.email) }}
								</div>	
							</div>
						</div>	
							
						

						<div class="row" style="margin:0px 0px 0px 30px;">
							<div  class="large-8  push-2 columns">
								<div >
								<h5>	{{ form_label(form.message) }} </h5>
									{{ form_widget(form.message) }}
									{{ form_errors(form.message) }}
								</div>																					
							</div>
						</div>

						{{ form_rest(form) }}
						
						<div  class="row" >

							<div  class="large-12 large-centered columns" style="margin:0px 0px 0px 120px;">
								<button class="btn btn-7 btn-7b icon-envelope" id="contact_send_button" >    Enviar </button>
							</div>
								
							{#
							<div class="large-2 large-centered columns">
								<a class="button" id="contact_send_button">Enviar</a>
							</div>
							#}

						</div>
							

						{{ form_end(form) }}
					</form>		






