<div class="row">
	<div class="large-12 columns">
		<h2 class="subheader" align="center">Reserva una habitacion.</h2>
	</div>
</div>

{#Arreglos de categorias, caracteristicas de cada habitacion, etc.#}
{% set rooms = [ "Estandar" , "Business" , "Alta" ] %}
{% set rooms_val = ["standard", "bussiness", "high"] %}
{% set backgrounds = [ "#FFFFFF", "#DCDCDC", "#FFFF99"] %}

<div id="res-div">
{% for i in 0..2 %}
	<div class="row">
		<div class="large-12 large-centered columns">
			<div class="panel" style="background-color:{{backgrounds[i]}};">
				<div class="row">

					<div class="large-4 columns">
						<img src="http://placehold.it/600x400&text=Habitacion" />
					</div>

					<div class="large-4 columns">
						<div class="large-12 columns">&nbsp;</div>
						<h4 align="center">Categoria {{rooms[i]}}</h4>
						<div class="large-12 columns">&nbsp;</div>
						<p align="justify">Descubre la elegancia tropical en nuestra habitación Standard, la brisa de la isla y sus comodidades.</p>
						<div class="large-12 columns">&nbsp;</div>
						<div class="large-9 large-centered columns">
							<a class="small button" id="av-{{i}}">Verificar disponibilidad</a>
						</div>
					</div>

					<div class="large-4 columns">
						<div class="large-12 columns">&nbsp;</div>
						<h4 align="center">Caracteristicas</h4>
						<div class="row">
							<div class="large-11 push-1 columns">
								<h5 class="subheader">Descripcion</h5>
								<h5 class="subheader">Descripcion</h5>
								<h5 class="subheader">Descripcion</h5>
								<h5 class="subheader">Descripcion</h5>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div id="av-{{i}}" style="display:none;">
						<div class="large-12 columns">
							<div class="large-12 columns">&nbsp;</div>
							<div class="large-12 columns">&nbsp;</div>

							<div class="row">
								<div class="large-4 columns">
									<h3 class="subheader" align="center">Cuando la quieres?</h3>
								</div>
								<div class="large-4 columns">
									<h3 class="subheader" align="center">Como la quieres?</h3>
								</div>
								<div class="large-4 columns">
									<h3 class="subheader" align="center">En serio la quieres?</h3>
								</div>
							</div>

							{{ render(controller('GZMainBundle:Main:reserve', {'category':rooms_val[i]})) }}
	                   		
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
{% endfor %}
</div>

