
<form class="custom" action="{{ path('reserve') }}" method="post" id="res-form">
	<div class="row">
		<div class="large-4 columns">

			<div class="row">
				<h4 align="center">{{ form_label(form.entrydate) }}</h4>
				<div class="large-4 columns">
					{{ form_widget(form.entrydate.day) }}
				</div>
				<div class="large-4 columns">
					{{ form_widget(form.entrydate.month) }}
				</div>
				<div class="large-4 columns">
					{{ form_widget(form.entrydate.year) }}
				</div>
				{{ form_errors(form.entrydate) }}
			</div>

			<div class="row">
				<h4 align="center">{{ form_label(form.exitdate) }}</h4>
				<div class="large-4 columns">
					{{ form_widget(form.exitdate.day) }}
				</div>
				<div class="large-4 columns">
					{{ form_widget(form.exitdate.month) }}
				</div>
				<div class="large-4 columns">
					{{ form_widget(form.exitdate.year) }}
				</div>
				{{ form_errors(form.exitdate) }}
			</div>
		</div>

		<div class="large-4 columns">

			<div class="row">
	   			<div class="large-5 large-centered columns">
	       			<h4 align="center">{{ form_label(form.roomtype) }}</h4>
				</div>
			</div>
			<div class="row">
				<div class="large-5 large-centered columns">
					{{ form_widget(form.roomtype) }}
				</div>
				{{ form_errors(form.roomtype) }}
			</div>

			<div class="row">
	   			<div class="large-7 large-centered columns">
	       			<h4 align="center">{{ form_label(form.childbeds) }}</h4>
				</div>
			</div>
			<div class="row">
				<div class="large-3 large-centered columns">
					{{ form_widget(form.childbeds) }}
				</div>
				{{ form_errors(form.childbeds) }}
			</div>
		</div>

		{{ form_rest(form) }}

		<div class="large-4 columns">
			{% for i in 0..1 %}
				<div class="large-12 columns">&nbsp;</div>
			{% endfor %}

			<div class="row collapse">
				<div class="large-5 push-2 columns">
					<a class="button prefix" >Disponibilidad</a>
				</div>
				<div class="large-3 pull-2 columns">
					<span class="postfix">-</span>
				</div>
			</div>

			{% for i in 0..1 %}
				<div class="large-12 columns">&nbsp;</div>
			{% endfor %}

			{% if user != null %}
				<div class="row">
					<div class="large-5 large-centered columns">
						<a class="button" id="res-send-button">Reservar</a>
					</div>
				</div>
			{% else %}
				<div class="row">
					<div class="large-12 columns">
						<h5 align="center">Ingresa a tu cuenta para reservar</h5>
					</div>
				</div>
			{% endif %}
			
		</div>
	</div>
</form>