{#formulario para cada categoria#}
{% form_theme form 'GZMainBundle:Form:fields.html.twig' %}

<form class="custom" action="{{ path('reserve') }}" method="post" id="res-form">
	<div class="row">
		<div class="small-4 columns">
			<div class="row">
				<div class="small-8 small-centered columns">
					{{ form_row(form.entrydate) }}
				</div>
			</div>
			<div class="row">
				<div class="small-8 small-centered columns">
					{{ form_row(form.exitdate) }}
				</div>
			</div>
		</div>
		<div class="small-4 columns">
			<div class="row">
				<div class="small-6 small-centered columns">
					{{ form_row(form.roomtype) }}
				</div>
			</div>
			<div class="row">
				<div class="small-6 small-centered columns">
					{{ form_row(form.childbeds) }}
				</div>
			</div>
		</div>
		{{ form_rest(form) }}
		<div class="small-4 columns">

			<div class="small-12 columns">&nbsp;</div>
			<div class="small-12 columns">&nbsp;</div>

			<div class="row collapse">
				<div class="small-5 push-2 columns">
					<a class="button prefix" >Disponibilidad</a>
				</div>
				<div class="small-3 pull-2 columns">
					<span class="postfix">-</span>
				</div>
			</div>

			<div class="small-12 columns">&nbsp;</div>

			{% if user != null %}
				<div class="row">
					<div class="small-5 small-centered columns">
						<a class="button" id="res-send-button">Reservar</a>
					</div>
				</div>
			{% else %}
				<div class="row">
					<div class="small-12 columns">
						<h5 align="center">Ingresa a tu cuenta para reservar</h5>
					</div>
				</div>
			{% endif %}
		</div>
	</div>
</form>