{% extends 'HotelMainBundle:Main:layout.html.twig' %}

{% block body -%}

<div class="cover-div"
	style="background-image:url({{ asset('bundles/img/login.jpg') }});">
</div>

{{ include('HotelUserBundle:User:'~prefix~'-topbar.html.twig') }}

<div class="title-div">
	<h1>Registro de Usuario</h1>
</div>


	<div id="user-new-div">
			{{ render(controller('HotelUserBundle:User:newform')) }}
	</div>


	<div id="noti2" class="reveal-modal small" medium data-reveal>
	  <h4>Notificaion</h4>
	  <h3> Usuario creado con exito.</h3>
	 <span style="float:right;">    <a href"{{ path('main_welcome') }}" class="button submitbtn"> relajar la pelvis</a>  </span>
	  <a class="close-reveal-modal">&#215;</a>
	</div>


{% if prefix == 'user' %}
<div class="row">
	<div class="small-6 medium-4 columns">
        <a href="{{ path('user') }}" class="success button">
            Regresar
        </a>
	</div>
</div>
{% endif %}

{% endblock %}
